In [1]:
import pandas as pd

# Reading Data

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

   fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0     85         0  100          1          -1              0
1    103         1   12          0           0              0
2    102         1   94          0           1              0
3    105         1   56          0           1              1
4     98         0   99          1          -1              0

In [4]:
df.tail()

      fever  bodyPain  age  runnyNose  diffBreath  infectionProb
5998     98         0   47          0          -1              0
5999     91         0   44          0          -1              0
6000     88         0   53          0          -1              1
6001     89         1   54          0           1              1
6002     89         0   40          1          -1              0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6003 entries, 0 to 6002
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          6003 non-null   int64
 1   bodyPain       6003 non-null   int64
 2   age            6003 non-null   int64
 3   runnyNose      6003 non-null   int64
 4   diffBreath     6003 non-null   int64
 5   infectionProb  6003 non-null   int64
dtypes: int64(6)
memory usage: 281.5 KB

In [6]:
df['diffBreath'].value_counts()

-1    2020
 0    1997
 1    1986
Name: diffBreath, dtype: int64

In [7]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,6003.000000,6003.000000,6003.00000,6003.000000,6003.000000,6003.000000
mean,95.057804,0.499917,50.07263,0.489755,-0.005664,0.499417
std,6.642724,0.500042,28.90698,0.499937,0.816953,0.500041
min,84.000000,0.000000,1.00000,0.000000,-1.000000,0.000000
25%,89.000000,0.000000,25.00000,0.000000,-1.000000,0.000000
50%,95.000000,0.000000,49.00000,0.000000,0.000000,0.000000
75%,101.000000,1.000000,75.00000,1.000000,1.000000,1.000000
max,106.000000,1.000000,100.00000,1.000000,1.000000,1.000000

## Train Test Splitting

In [8]:
import numpy as np

In [9]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[test_indices], data.iloc[train_indices]

In [10]:
np.random.permutation(7)

array([2, 0, 1, 5, 6, 4, 3])

In [11]:
train, test = data_split(df, 0.2)

In [12]:
train

      fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1782     91         0   88          0          -1              1
3917     99         0    5          1           1              0
221      96         0   49          0           1              1
2135     84         1   90          0           1              1
5825    105         0   38          0          -1              1
...     ...       ...  ...        ...         ...            ...
2543     90         0   24          1          -1              0
1773     94         0   30          0          -1              1
2846     89         1   54          1           1              1
5801    106         0   12          1          -1              0
1765    105         0   57          1          -1              0

[1200 rows x 6 columns]

In [13]:
test

      fever  bodyPain  age  runnyNose  diffBreath  infectionProb
3897    101         0  100          1           0              0
5629     89         1   62          1           1              1
1756     96         1   73          1           1              0
2346    104         0   51          1           1              1
2996     97         1   98          0          -1              1
...     ...       ...  ...        ...         ...            ...
3772     86         1   49          0           1              0
5191     88         1   25          1           1              0
5226     89         0   37          0           0              0
5390     88         0   34          1          -1              1
860      97         0   95          0           1              0

[4803 rows x 6 columns]

In [14]:
X_train = train[['bodyPain', 'fever', 'age', 'runnyNose', 'diffBreath']].to_numpy()
X_test = test[['bodyPain', 'fever', 'age', 'runnyNose', 'diffBreath']].to_numpy()

In [15]:
Y_train = train[['infectionProb']].to_numpy().reshape(1200,)
Y_test = test[['infectionProb']].to_numpy().reshape(4803,)

In [16]:
Y_train

array([1, 0, 1, ..., 1, 0, 0], dtype=int64)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression()

In [19]:
inputFeatures = [90, -1, 22, -1, -1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [21]:
infProb

0.83889032504057